#content{
  background-color: lightblue;
  border: solid  4px green;
  margin-top: 5%;
  margin-bottom: 5%;
}
}

p {
  margin-left: 5%;
}
h1 {
    font-family: 'Lato', sans-serif;
    font-weight:300;
    letter-spacing: 2px;
    font-size:48px;
    margin-left: 60;
}

ul#navigation-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  font-size: 20px;
  font-family: Segoe Print;
}

ul#navigation-bar li {
  display: inline;
  border-radius: 25px;
}

ul#navigation-bar a {
  padding: 50px;
  background-color: #B7E8F4;
  color: white;
  text-decoration: none;
  font-size: 21px;
}

ul#navigation-bar a:hover {
  color: #968d81;
}

.pack {
  background-color: pink;
  border: solid white 4px;
  font-weight: bold;
  margin-left: 4%;
}

#image {
  margin-top: 5%;
  margin-right: 45%;
  margin-left: 5%;
  border: Solid green 4px;
}

#top {
  background-color: papayawhip;
  border: dotted gold 5px;
  font-size: 40px;
  font-weight: bold;
  margin-top: 3%;

}

#box-one {
  background-color: papayawhip;
  color: black;
  border: dotted gold;
  margin-right: 60%;
  margin-left: 5%;
  margin-top: 5%;
  padding: 10px;
}

#box-two {
  background-color: papayawhip;
  color: black;
  border: dotted gold;
  margin-right: 60%;
  margin-left: 5%;
  margin-top: 2%;
  padding: 10px;

}


#box-three {
  background-color: papayawhip;
  color: black;
  border: dotted gold;
  margin-right: 60%;
  margin-left: 5%;
  margin-top: 2%;
  padding: 10px;

}
#hub {
  padding: 2px;
  margin-top: 2%;
}

#test {
  background-color: lightgreen;
  border: solid white 3px;
  margin-right: 60%;
  margin-left: 5%;
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 10px;
}

#testtwo {
    background-color: crimson;
    color: white;
    border: solid black 3px;
    margin-right: 60%;
    margin-left: 5%;
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 10px;
}

#operation {
    background-color: crimson;
    color: white;
    border: solid black 3px;
    margin-right: 60%;
    margin-left: 5%;
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 10px;

}

#operationtwo {
  background-color: lightgreen;
  border: solid white 3px;
  margin-right: 60%;
  margin-left: 5%;
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 10px;
}

#procedure {
  background-color: lightgreen;
  border: solid white 3px;
  margin-right: 60%;
  margin-left: 5%;
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 10px;
}

#proceduretwo {
    background-color: crimson;
    color: white;
    border: solid black 3px;
    margin-right: 60%;
    margin-left: 5%;
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 10px;

}



.header {
  position:relative;
  text-align:center;
  background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
  color:white;
}
.logo {
  width:50px;
  fill:white;
  padding-right:15px;
  display:inline-block;
  vertical-align: middle;
}

.inner-header {
  height:65vh;
  width:100%;
  margin: 0;
  padding: 0;
}

.flex { /*Flexbox for containers*/
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.waves {
  position:relative;
  width: 100%;
  height:15vh;
  margin-bottom:-7px; /*Fix for safari gap*/
  min-height:100px;
  max-height:150px;
}

.content {
  position:relative;
  height:20vh;
  text-align:center;
  background-color: white;
}

/* Animation */

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% {
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}
