html {
  background-color: lightgreen;
}

p {
  margin-left: 5%;
}
h1 {
  margin-left: 4%;
}

#top {
  background-color: papayawhip;
  border: dotted gold 5px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 3%;
}

#box-one {
  background-color: papayawhip;
  color: black;
  border: dotted gold;
  margin-right: 60%;
  margin-left: 5%;
  margin-top: 13%;
  padding: 10px;
}

#box-two {
  background-color: papayawhip;
  color: black;
  border: dotted gold;
  margin-right: 60%;
  margin-left: 5%;
  margin-top: 2%;
  padding: 10px;

}


#box-three {
  background-color: papayawhip;
  color: black;
  border: dotted gold;
  margin-right: 60%;
  margin-left: 5%;
  margin-top: 2%;
  padding: 10px;

}
#hub {
  padding: 2px;
  margin-top: 2%;
}

.pack {
  background-color: pink;
  border: solid white 4px;
  font-weight: bold;
}

#design {
  width: 150px;
  height: 1000px;
  background-color: lightblue;
  margin-left: 80%;
  float: right;
}
