html {
  background-color: lightblue;
}

p {
  margin-left: 5%;
}
h1 {
  margin-left: 4%;
}

.pack {
  background-color: pink;
  border: solid white 4px;
  font-weight: bold;
  margin-left: 4%;
}

#image {
  margin-top: 4%;
  margin-right: 50%;
  margin-left: 5%;
  border: Solid green 4px;
}

#top {
  background-color: papayawhip;
  border: dotted gold 5px;
  font-size: 18px;
  font-weight: bold;
  margin-top: 3%;
}

#box-one {
  background-color: papayawhip;
  color: black;
  border: dotted gold;
  margin-right: 60%;
  margin-left: 5%;
  margin-top: 5%;
  padding: 10px;xs
}

#box-two {
  background-color: papayawhip;
  color: black;
  border: dotted gold;
  margin-right: 60%;
  margin-left: 5%;
  margin-top: 2%;
  padding: 10px;

}


#box-three {
  background-color: papayawhip;
  color: black;
  border: dotted gold;
  margin-right: 60%;
  margin-left: 5%;
  margin-top: 2%;
  padding: 10px;

}
#hub {
  padding: 2px;
  margin-top: 2%;
}

#test {
  background-color: lightgreen;
  border: solid white 3px;
  margin-right: 60%;
  margin-left: 5%;
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 10px;
}

#testtwo {
    background-color: crimson;
    color: white;
    border: solid black 3px;
    margin-right: 60%;
    margin-left: 5%;
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 10px;
}

#operation {
    background-color: crimson;
    color: white;
    border: solid black 3px;
    margin-right: 60%;
    margin-left: 5%;
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 10px;

}

#operationtwo {
  background-color: lightgreen;
  border: solid white 3px;
  margin-right: 60%;
  margin-left: 5%;
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 10px;
}

#procedure {
  background-color: lightgreen;
  border: solid white 3px;
  margin-right: 60%;
  margin-left: 5%;
  margin-top: 4%;
  margin-bottom: 4%;
  padding: 10px;
}

#proceduretwo {
    background-color: crimson;
    color: white;
    border: solid black 3px;
    margin-right: 60%;
    margin-left: 5%;
    margin-top: 4%;
    margin-bottom: 4%;
    padding: 10px;

}
